@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oswald:wght@200..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom-css {
  padding: 10px 15px;
  border: unset;
  border-radius: 5px;
  color: #212121;
  z-index: 1;
  background: #ffffff;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.btn-custom-css::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 350ms;
}

.btn-custom-css:hover {
  color: #e8e8e8;
}

.btn-custom-css:hover::before {
  width: 100%;
}

@media (max-width: 480px) {
  .btn-custom-css {
    padding: 10px 15px;
    font-size: 12px;
  }
}
